*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    transition: all 0.2s;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    max-width: 100vw;

    min-height: 100vh;
    max-height: max-content;

    
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    max-width: 100vw;
    height: 100%;
    padding: 30px;
 
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
}

#users{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    padding: 30px;
    box-shadow:  0 0 30px rgb(47, 95, 128);
    background-color: #0096c7;
}


.user_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
 
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0px 5px gray;
    font-size: 1.1rem;
    padding: 15px;
}
.id{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 30px;
}
.img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img > img{
    width: 30px;
    height: 30px;
    transform: scale(2);
    border-radius: 100%;
    box-shadow: 0 0 1px gray;
}
.nome{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: left;
    padding: 0 2rem;
    align-items: center;
}
.email{
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: left;
    padding: 0 2rem;
    align-items: center;
}

.edit{
    height: 100px;
    width: 40px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.edit > button{
     cursor: pointer;
     background-color: transparent;
     border: 0;
     
}
.edit > button > img{
    width: 20px;
}

#cadastrar_btn{
    width: 120px;
    height:50px;
    background-color: #0096c7;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    &:hover{
        background-color: #2f90b1;

    }
}













#popup_edit{
    width: 500px;
    height: 500px;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: start;
    background-color: white;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 15px gray;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#editarForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;

    border-radius: 15px;
    padding: 30px;

}

#editarForm > div{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    font-size: 1.2rem;

}
#editarForm > div:nth-of-type(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#head > svg{
    width: 20px;
    height: 20px;
    cursor: pointer;

}
#email, #nome{
    border-radius: 2px;
    width: 100%;
    border: solid 2px #0096c7;
    height: 35px;
    padding: 0 1.5rem;
    font-size: 1.1rem;
    &:focus-visible{
        outline: none;
    }
    &:focus{
        border: solid 2px #5600c7;
        box-shadow: 0 0 6px gray;

    }
}
#avatar{

    border: 0;
    
    width: 100%;
    
    border: #0096c7 2px solid;
    
    flex-direction: column;
    &::file-selector-button{
        border: 0;
        border-radius: 5px;
        font-size: 1rem;
        height: 25px;
        width: 130px;
        cursor: pointer;
    }
}

#avatarDiv{
    color: white;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    background-color: #0096c7;
    gap: 30px;
   
}

#botoes{
    display: flex;
    flex-direction: row;

    gap: 5px;

}
#cancel_btn{
    width: 100px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
#confirm_btn{
    
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(0, 236, 98);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}





